/*  */
/* - - - - - - - - - - - GENERAL STYLES - - - - - - - - - - -   */
/*  */

body {
  background-color: #FCFCFC;
  color: #181818;
  font-size: 16px;
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-size: 1.7rem;
}

figcaption {
  font-size: 0.8rem;
  font-style: italic;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
}

a:hover {
  color: #0000FF;
}

/*  */
/* - - - - - - - - - - - NAVIGATION - - - - - - - - - - -   */
/*  */


nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  font-size: 1.1rem;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

/*  */
/* - - - - - - - - - - - MAIN CONTENT - - - - - - - - - - -   */
/*  */


.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
